doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Macbook 
        link(rel="stylesheet", href="../css/main.css")
    body 
        header.header-bg 
            nav.navbar.container 
                div 
                    p GoTrieop 
                div.navbar__li
                    a(href='#') HOME
                    a(href='#') ABOUT
                    a(href='#') SERVICE
                    a(href='#') DESIGN
                    a(href='#') CONTACT
                div.navbar__login 
                    p Sign up
                    button Login
            div.content.container
                div.content__item 
                    button.btn-1 exsplore the world
                    p.p-1 Explore The Natural Beauty Of Halmahera With Us
                    p.p-2 explore the beauty of god's earth in a beautiful forest and have fun
                    button.btn-2 Exsplore Now
                div 
                    img(src="../assets/imgs/image 10.svg", alt="")
        main
            section.section-first 
                div.section-first__item 
                    p.p-first Choice Of 
                    p.p-second Destinations
                    p.p-thire explore the beauty of god's earth in a beautiful forest and have fun
                    button Exsplore Now
                div 
                    img(src="../assets/imgs/Rectangle 24.svg", alt="")
                div 
                    img(src="../assets/imgs/Rectangle 25.svg", alt="")
                div 
                    img(src="../assets/imgs/Rectangle 26.svg", alt="")
            section.container 
                div.section-second 
                    div.section-second__img
                        img(src="../assets/imgs/Mask Group.svg", alt="")
                    div.section-second__items 
                        p.paragraf What do customers say about us?
                        div.section-second__items-img     
                            img(src="../assets/imgs/Mask Group (1).svg", alt="")
                            div 
                                p.p-1 Alpanasap
                                p.p-2 Japung, Indonesia
                        div.section-second__items-p 
                            p Very satisfying service makes it comfortable, a beautiful place in the world. 
                        div.section-second__items-star 
                            img(src="../assets/imgs/Star 1.svg", alt="")
                            img(src="../assets/imgs/Star 1.svg", alt="")
                            img(src="../assets/imgs/Star 1.svg", alt="")
                            img(src="../assets/imgs/Star 4.svg", alt="")
                            img(src="../assets/imgs/Star 4.svg", alt="")
            section.container 
                div.section-thire 
                    div.section-thire__img-1
                        img(src="../assets/imgs/Group 2.svg", alt="")
                    div.section-thire__item
                        p.item-p1 Prepare Yourself And Start Exploring With Us.
                        p.item-p2 There's the best discount for you today.
                        button.item-btn Get Started
                    div.section-thire__img-2 
                        img(src="../assets/imgs/Group 1.svg", alt="")
            section.container 
                div.section-four 
                    div.section-four__p 
                        p Subscribe To Our Newsletter
                    div.section-four__item 
                        div.section-four__item-content     
                            p Yourmail@mail.com
                            button Subscribe
                

