.section-first{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 50px 0;
    padding-left: 50px;
    .section-first__item {
        width: 500px;
        .p-first{
            font-size: 30px;
        }
        .p-second{
            font-size: 50px;
            margin: 20px 0 ;
        }
        .p-thire{
            font-size: 25px;
            color: gray;
        }
        button{
            width: 200px;
            height: 60px;
            color: #fff;
            background: rgba(255, 123, 78, 1);
            border-radius: 20px;
            margin-top: 30px;
            font-size: 20px;
        }
    }
}
.section-second {
    display: flex;
    margin: 50px 0;
    gap: 100px;
    .section-second__items{
        .paragraf{
            font-size: 50px;
            width: 650px;
        }
        .section-second__items-img{
            display: flex;
            gap: 50px;
            align-items: center;
            margin: 40px 0;
            img{
                background: #FF794E;
                border-radius: 50%;
                
            }
            .p-1{
                font-size: 35px;
                margin-bottom: 12px;
            }
            .p-2{
                font-size: 25px;
                color: #828A89;
            }
        }
        .section-second__items-p{
            font-size: 20px;
            color: #828A89;
            margin-bottom: 35px;
            width: 400px;
            line-height: 1.5;
        }
        .section-second__items-star{
            display: flex;
            gap: 15px;
        }
    }

}